@model AIUB_Forum.Models.Database.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>This can't be undone, Are you sure</h3>
<div>

    <h2 class="">@Model.Title</h2>
    <p>Question: @Model.Body</p>
    <div>
        <hr />
        <dl class="">
            <dt>
                Created At:
            </dt>

            <dd>
                @Model.CreateDate
            </dd>
            @if (Model.ModifyDate != null)
            {
                <dt>
                    Modify Date:
                </dt>

                <dd>
                    @Model.ModifyDate
                </dd>
            }
        </dl>
    </div>

    <form action="/Posts/Delete" method="post">
        <input type="hidden" name="id" value=@Model.PostId />

        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-default" />
        </form>

</div>
