@model AIUB_Forum.Models.Database.Post

@{
    ViewBag.Title = "Edit";
}

<div>
    <a class="btn btn-default" href="/Posts">Browse all Questions</a>
</div>
<h2>Edit</h2>
<div class="form-horizontal">
    <h4>Question</h4>
    <hr />
    @Model.Title
    <form action="/Posts/Edit" method="post">
        edit here
        <input type="hidden" name="PostId" value=@Model.PostId />
        <input type="hidden" name="Score" value=@Model.Score />
        <input type="hidden" name="views" value=@Model.views />
        <input type="hidden" name="UserId" value=@Model.UserId />
        <input type="hidden" name="AnswerCount" value=@Model.AnswerCount />
        <input type="hidden" name="CoummentsCount" value=@Model.ComentsCount />
        <label for="Title" class="label">Title</label>
        <input type="text" name="Title" placeholder="Title" class="form-control" value="@Model.Title" />
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        <label for="Body" class="label">Body</label>
        <textarea name="Body" class="form-control">@Model.Body</textarea>
        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <input type="submit" value="Edit" class="btn btn-default" />
    </form>


</div>


