@model List<AIUB_Forum.Models.Database.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Posts/Create">Post Question</a>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Body
        </th>
        <th>
            user
        </th>
        <th>

        </th>
        <th>

</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    
    <td>
        <a href="/posts/view/@item.PostId">@item.Title</a>
    </td>
    <td>
        @item.Body.ToString().Substring(0, 5) ....
    </td>
    <td>
        @item.UserId
    </td>
    <td>
        @if (@item.UserId == 2)
        {

            <a class="btn btn-info" href="/posts/Edit/@item.PostId">Edit</a>
            <a class="btn btn-danger" href="/posts/Delete/@item.PostId">Delete</a>

        }
    </td>
    <td>
        <small>Posted at: @item.CreateDate</small>
    </td>
    </tr>
    }
    
</table>
edit here
